
.DS_Store

Practical lessons/Lesson 1/.ipynb_checkpoints/

Lectures/Lecture 1/.ipynb_checkpoints/

Practical lessons/Lesson 2/.ipynb_checkpoints/

Practical lessons/Lesson 2/Supplementary materials/.ipynb_checkpoints/

Lectures/Lecture 2/.ipynb_checkpoints/

Practical lessons/Lesson 3/Supplementary materials/.ipynb_checkpoints/

Practical lessons/Lesson 3/.ipynb_checkpoints/

Lectures/Lecture 3/.ipynb_checkpoints/
